
.post-body {
    width: 70%;
    margin: 0 15%;
    margin-bottom: 20px;
}

.post-body img {
    width: 100%;
}

.metadata {
    width: 100%;
    font-size: 15px;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.comments {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.comment-list h4 {
    width: 100%;
    border-bottom: 1px solid rgb(175, 169, 169);
    
}

.comment-form {
    width: 25%;
    margin-left: auto;
    border: 1px solid rgb(175, 169, 169);
    padding: 10px;
}
.comment-form input, textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 20px;
}

.comment-form button {
    width: 100%;
    padding: 0.5em;
}

.suggested {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-gap: 1%;
    justify-content: center;
}

.suggested-class h4 {
    border-bottom: 1px solid rgb(175, 169, 169);
}